span[class~="sr-only"] {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  -webkit-clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  padding: 0;
  margin: -1px;
}
html {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #0a0a23;
}
h1 {
  max-width: 37.25rem;
  margin: 0 auto;
  padding: 1.5rem 1.25rem;
}
h1 .flex {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
/*The :first-of-type pseudo-selector is used to target the first element that matches the selector. I created a h1 .flex span:first-of-type selector to target the first span element in my .flex container. My span span elements are reversed, visually, so this will appear to be the second element on the page.

I've given my new selector a font-size property of 0.7em to make it look like a sub-heading.*/

h1 .flex span:first-of-type {
  font-size: 0.7em;
}
